<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-lazy-init="true">

   <bean id="sqlMapClient" parent="abstractSqlMapClient">
      <property name="mappingLocations">
        <value>classpath*:com/fline/form/access/model/mysql/*.xml</value>
      </property>
      <property name="configLocations">
         <list>
            <value>classpath:sqlMapConfig.xml</value>
            <value>classpath:sqlMapConfig-tp-orm.xml</value>
         </list>
      </property>
      <property name="lobHandler" ref="lobHandler" />
   </bean>


</beans>