.borderBox{border:1px solid #adadad;margin:30px auto;width:80%;padding:15px;}
.title{font-weight:bolder;font-size:16px;line-height:60px;border-bottom:1px solid #ccc;padding:0px 15px;}
.textadadad{color:#adadad;}
.filesInput{height:31px!important;width:90%!important;margin-left:0px;border:1px solid #ccc;vertical-align:sub;}
.darkBlueButton{background:#2671a9;cursor:pointer;color:#fff}
.btn-middle{height:35px;}
.base_padding-l-0{padding-left:0px;}
.control-label{font-size:14px;}
.textRed{color:red}