@charset "utf-8";

/** <IE9版本样式支持 **/
.w767 {}
.w768 {}
.w992 {}
.w1200 {}

/** <=767 **/
@media only screen and (max-width: 767px) {
	.head > h1{
	    font-size: 22px;
	}
	.centerDiv{
		width:100%;
		padding: 0 20px;
	}
	.leftDiv,.rightDiv{
		float:right;
		width:100%;
	}
	.time_info, .all_info{
		 text-align: center;
		width:100%;
	}
	.text_title{
		margin-top:0;
		padding-left: 0;
	}
	.text_time{
		margin-top: 8px;
	}
	.dataStatistics{
		width: 246px;
		float: none;
	}
}
/** >=768 **/
@media only screen and (min-width: 768px) and (max-width: 992px){
	.head > h1{
	    font-size: 22px;
	}
	.centerDiv{
		width:100%;
		padding: 0 20px;
	}
	.leftDiv,.rightDiv{
		float:right;
		width:100%;
	}
	.time_info, .all_info{
		 text-align: center;
		width:100%;
	}
	.text_title{
		margin-top:0;
		padding-left: 0;
	}
	.text_time{
		margin-top: 8px;
	}
	.dataStatistics{
		width: 246px;
		float: none;
	}
}
/** >=992 **/
@media only screen and (min-width: 992px) {
	
	
	.dataStatistics {font-size: 30px;}
	.dataStatistics .digit_set{width: 26px;}
	.dataStatistics .digit > div {width: 26px;}
	.dataStatistics .digit > div.digit_top, .dataStatistics .digit > div.shadow_top{width: 26px;}
	.dataStatistics .digit > div.shadow_top {width: 26px;}
	
}
/** >=1200 **/
@media only screen and (min-width: 1200px) {
	
	.dataStatistics {font-size: 42px;}
	.dataStatistics .digit_set{width: 30px;}
	.dataStatistics .digit > div {width: 30px;}
	.dataStatistics .digit > div.digit_top, .dataStatistics .digit > div.shadow_top{width: 30px;}
	.dataStatistics .digit > div.shadow_top {width: 30px;}

}
/** 打印时的样式 **/
@media print {
}