<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true">
	
	<context:component-scan base-package="com.fline.form.mgmt,com.fline.form.config" />
	
	<bean id="passwordEncoder" class="com.feixian.tp.common.encrypt.Md5PasswordEncoder" />

	<bean id="spring" class="com.fline.form.util.SpringUtil" lazy-init="false" />
	
	<bean id="userSessionManagementService"
		class="com.fline.form.mgmt.service.impl.UserSessionManagementServiceImpl"
		parent="abstractDataAccessService">
		<property name="userSessionAccessService" ref="userSessionAccessService" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="cache" ref="cache" />
	</bean>
	
</beans>